menuconfig MODBUS_STACK
	tristate	"Modbus RTU Master Suport"
	help
		Enable this to support Modbus RTU protocol over RS485 for Raspberry Pi.
if MODBUS_STACK
	source "modbus_controller/Kconfig"
	source "modbus_device/Kconfig"
endif
